$charcoal: #565b66;
$blue: #2392ee;
$notwhite: #f7f7f7;
$black: #232227;
$red: #ff6666;
$purple: #EAE784;
$magenta: #ff69f8;
$green: #40e2a0;
$background-green: #597B6A;

$primary: #597B6A;
$secondary: #EDECED;
